[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "build/third-party/jsoncpp"]
	path = build/third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third-party/glog"]
	path = third-party/glog
	url = https://github.com/google/glog.git
[submodule "third-party/gflag"]
	path = third-party/gflag
	url = https://github.com/gflags/gflags.git
